@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
strong, b{ font-weight: bold}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
html {height: 100%}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#f9f8fd;
	color: #000D40;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:1.2em;
	-webkit-font-smoothing: antialiased
}
a{color:#000D40;text-decoration: none}
.clear {
	clear: both;
	display: block
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}
.clearfix:after {clear: both}
/* ----style-form---*/
::-webkit-input-placeholder { color:#000D40}
:-moz-placeholder { color:#000D40}
.placeholder { color:#000D40}
input, textarea, a {outline:none}
:focus {outline:none}

.page {
	min-height:100%;
	width:100%;
	padding: 80px 0
}
.container {max-width: 1140px}
h1,.h1 {
	font-size: 21px;
	line-height: 1.2em;
	font-weight: 500;
	margin-bottom: 41px
}
h2,.h2 {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 500;
	margin-bottom: 20px
}
h6,.h6 {
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 500;
	margin-bottom: 18px
}
.tabs {
	font-size: 16px;
	line-height: 1.2em;
	color: #666B7D;
	margin-bottom: 18px
}
.tabs li {
	display: inline-block;
	cursor: pointer;
	padding: 3px 0;
	margin: 0 16px 5px 0
}
.tabs li.active {
	cursor: default;
	color: #000D40;
	border-bottom: 2px solid #4d98fe
}
.white-group {
	background: #fff;
	padding: 30px;
	border-radius: 4px;
	margin-bottom: 20px
}
.box-tabs {display: none}
.box-tabs.visible {display: block}
.group-table table {width: 100%}
.storage-table table {min-width: 500px}
.group-table table tr+tr+tr,.table-info-exp tr+tr+tr {border-top: 1px solid #d7d7d7}
.group-table th, .group-table td {
	padding: 9px 6px;
	vertical-align: middle;
	position: relative
}
.group-table th:nth-child(1), .group-table td:nth-child(1) {width: 35%}
.group-table th:nth-child(2), .group-table td:nth-child(2) {width: 28%}
.group-table td:nth-child(2) {white-space: nowrap}
.group-table th {padding-bottom: 22px}
.group-table th:first-child, .group-table td:first-child {padding-left: 0}
.group-table th:last-child, .group-table td:last-child {padding-right: 0}
.group-table th:nth-child(3), .group-table td:nth-child(3),
.group-table th:nth-child(4), .group-table td:nth-child(4) {text-align: right}
.group-table td {
	color: #000D40;
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 500
}

.storage-table th, .storage-table td,.storage-table th:nth-child(2), .storage-table td:nth-child(2) {
	width: 20%;
	padding: 9px 2px
}
.storage-table td:nth-child(3) {white-space: nowrap}
.storage-table th:nth-child(3), .storage-table td:nth-child(3) {text-align: left}
.storage-table th:nth-child(5), .storage-table td:nth-child(5)  {text-align: right}
.group-table td:first-child span {
	display: block;
	font-size: 14px;
	line-height: 1.2em;
	color: #666b7d;
	font-weight: 400;
	padding-top: 1px
}

.table-info-tarif {width: 100%;margin-bottom: 36px}
.table-info-mess {width: 100%}
.table-tarif {width: 100%;margin-bottom: 30px}
.table-info-tarif tr+tr+tr,.table-info-mess tr+tr+tr,.table-tarif tr+tr+tr {border-top: 1px solid #d7d7d7}
.table-info-tarif th, .table-info-tarif td,.table-info-mess th,.table-info-mess td,
.table-tarif th,.table-tarif td {
	padding: 9px 6px;
	vertical-align: middle
}
.table-info-tarif th:first-child,.table-info-tarif td:first-child,
.table-info-mess th:first-child,.table-info-mess td:first-child,
.table-info-exp td:first-child,.table-info-exp th:first-child,
.table-tarif th:first-child,.table-tarif td:first-child {padding-left: 0}
.table-info-tarif th:last-child,.table-info-tarif td:last-child,
.table-info-exp th:last-child,.table-info-exp td:last-child {padding-right: 0;text-align: right}
.table-info-tarif td,.table-info-mess td,.table-info-exp td,.table-tarif td {
	font-size: 16px;
	font-weight: 500;
	color: #000D40
}
.table-info-mess th,.table-info-tarif th,.table-info-exp th,.table-tarif th {padding-bottom: 18px}
.table-info-mess th,.table-info-mess td {width: 23%}
.table-info-mess th:nth-child(1),.table-info-mess td:nth-child(1) {width: 27%}
.table-info-mess th:nth-child(2),.table-info-mess td:nth-child(2) {width: 27%}
.table-info-mess th:nth-child(3),.table-info-mess td:nth-child(3),
.table-info-mess th:nth-child(4),.table-info-mess td:nth-child(4) {text-align: right}
.table-info-exp {width: 100%}
.table-info-exp th,.table-info-exp td {
	padding: 9px 6px;
	width: 18%
}
.table-info-exp th:nth-child(1),.table-info-exp td:nth-child(1),
.table-info-exp th:nth-child(2),.table-info-exp td:nth-child(2) {width: 23%}
.table-tarif th:nth-child(3),.table-tarif td:nth-child(3),
.table-tarif th:nth-child(4),.table-tarif td:nth-child(4) {text-align: right}
.table-tarif th:first-child,.table-tarif td:first-child {width: 30%}
.t-table th:nth-child(2),.t-table td:nth-child(2) {text-align: right}
.t-table th,.t-table td {width: 30%}

.head-info {
	font-size: 14px;
	font-weight: 400;
	color: #666B7D;
	margin-bottom: 14px;
	display: none
}

.main-calc {
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	border: 1px solid #d7d7d7;
	position: relative;
	width: 96px;
	border-radius: 3px
}
.main-calc input {
	border:0;
	padding:0 26px;
	font-size: 14px;
	background:transparent;
	height: 30px;
	width:100%;
	text-align:center;
	color: #000D40;
	text-overflow: ellipsis
}
.minus, .plus {
	position: absolute;
	top: 0;
	display:inline-block;
	width:25px;height:30px;
	text-align:center;
	line-height:30px;
	text-decoration:none;
	color: #000D40
}
.minus {left: 0;border-right: 1px solid #d7d7d7}
.plus {right: 0;border-left: 1px solid #d7d7d7}
.minus:before{content:'-'}
.plus:before{content:'+'}
.st {
	display: inline-block;
	vertical-align: middle;
	color: #666B7D;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 400
}
.block {display: block}

.head {
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 500;
	position: relative;
	padding-right: 26px;
	color: #000D40;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 8px
}
.off {
	cursor: pointer;
	color: #666B7D;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 1.2em;
	width: 13px;
	height: 13px
}
.off:before {
	content: '';
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/Vector.svg) no-repeat;
	background-size: cover
}
.off-absolute {
	position: absolute;
	right: 0
}

.price-group {padding: 8px 0}
.price-item {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #666B7D;
	font-size: 16px;
	line-height: 1.2em;
	border-bottom: 1px solid #d7d7d7
}
.price-all {
	font-size: 21px;
	line-height: 1.2em;
	color: #000D40;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle
}
.price-group .price-all {
	padding: 2px 0;
	display: block
}
.itog-price {padding: 22px 0 0}
.itog-price-item {
	font-size: 16px;
	line-height: 1.2em;
	color: #000D40;
	font-weight: 500
}
.price {
	font-size: 24px;
	line-height: 1.2em;
	color: #000D40;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle
}
.itog-price-item .price {
	display: block;
	padding: 4px 0
}
.price span {
	font-size: 16px;
	line-height: 1.2em
}
.price-details {
	font-size: 14px;
	line-height: 1.2em;
	color: #666b7d;
	font-weight: 500
}
.price-details p {padding: 2px 0}
.info-price {
	color: #D7D7D7;
	line-height: 1.4em
}
.itog-price .info-price {padding: 8px 0 0}

.deckript {
	color: #D7D7D7;
	font-weight: 400
}
.txt {
	line-height: 1.5em;
	color: #666B7D;
	font-size: 14px;
	margin-bottom: 30px
}

.btn {
	background: linear-gradient(270deg, #3376FF 0%, #002CD0 100%);
	box-shadow: 0px 3px 7px rgba(0, 17, 82, 0.15);
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	line-height: 1.43333em;
	display: inline-block;
	vertical-align: middle;
	padding: 13px 10px;
	outline: none
}

.btn:hover {background: linear-gradient(270deg, #002CD0 0%, #3376FF 100%)}

.bootstrap-select {
	display: inline-block;
	width: 80px!important;
	margin-right: 2px;
	background: none!important;
	outline: none
}
.bootstrap-select .btn {
	background: none!important;
	color: #000D40;
	border: 1px solid #ebebeb;
	text-shadow: none;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 8px 4px;
	box-shadow:none
}
.dropdown-menu {box-shadow: 0px 3px 8px #d0d0d8}
.bootstrap-select .btn.active.focus,
.bootstrap-select .btn.active:focus,
.bootstrap-select .btn.focus,
.bootstrap-select .btn:active.focus,
.bootstrap-select .btn:active:focus,
.bootstrap-select .btn:focus{
	border: 1px solid #ebebeb;
	outline:none!important
}
.bs-searchbox{padding:0}
.bootstrap-select .form-control {
	padding: 1px 8px!important;
	outline: none!important;
}
.bootstrap-select .dropdown-menu li a {padding: 6px 10px}
.bootstrap-select .dropdown-menu li.active a,.bootstrap-select .dropdown-menu li a:hover {
	background: #1F41C3;color: #fff
}
.bootstrap-select .caret {display: none}
.bs-caret:before {
	content: '\e114';
	display: block;
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 7px;
	z-index: 1;
	margin-top: -4px;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color: #666b7e;
	font-size: 8px
}
.bootstrap-select.open .bs-caret:before {content: '\e113'}
.bootstrap-select .dropdown-menu {
	list-style: none;
	margin: 0;
	padding: 0
}
@media only screen and (max-width:1199px){
	.group-table td {
		font-size: 14px;
		line-height: 1.2em
	}
}
@media only screen and (max-width:991px){
	.page {padding: 30px 0}
	h1,.h1 {margin-bottom: 30px}
}
@media only screen and (max-width:767px){
	h1,.h1 {margin-bottom: 20px}
	.white-group {padding: 20px 15px}
	.group-table th {display: none}
	.group-table td {
		display: block;
		width: 100%!important
	}
	.group-table .head-info {
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px 0 0
	}
	.group-table table td {padding: 8px 0}
	.group-table table td:first-child {padding: 16px 0 0}
	.group-table th:nth-child(3), .group-table td:nth-child(3),
	.group-table th:nth-child(4), .group-table td:nth-child(4) {text-align: left}
}
@media only screen and (max-width:600px){
	h6,.h6 {margin-bottom: 10px}
	.table-info-exp th,.table-tarif th {display: none}
	.table-info-exp td,.table-tarif td {display: block;width: 100%!important;padding-bottom: 22px}
	.table-info-exp td:last-child {text-align: left}
	.table-info-exp .head-info {display: block}
	.table-info-exp .bootstrap-select {width: 150px!important}
	.main-calc {width: 90px}
	.table-info-mess th {display: none}
	.table-info-mess td {display: block;width: 100%!important;padding-bottom: 22px}
	.head-info {display: block}
	.table-info-mess .bootstrap-select {width: 150px!important}
	.table-info-mess th:nth-child(3),.table-info-mess td:nth-child(3),
	.table-info-mess th:nth-child(4),.table-info-mess td:nth-child(4) {text-align: left}
	.table-tarif th:nth-child(3),.table-tarif td:nth-child(3),
	.table-tarif th:nth-child(4),.table-tarif td:nth-child(4) {text-align: left}
	.table-tarif td {padding:8px 0;margin: 6px 0}
	.table-tarif td:first-child {padding: 10px 0 0}
	.table-tarif .head-info,.table-info-mess .head-info{
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px
	}
	.table-tarif .main-calc,.table-info-mess .main-calc {top: -2px}
	.t-table th:nth-child(2),.t-table td:nth-child(2) {text-align: left}
}
@media only screen and (max-width:480px){
	.white-group {
		margin-left: -15px;
		margin-right: -15px
	}
	.itog-price .col-xs-7 {width:100%;margin-bottom: 20px}
	.itog-price .col-xs-5 {width:100%}
	.itog-price .info-price {text-align: center}
}
