<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
</head>
<body>
<div class="calc-render"></div>
<script type="text/template" id="root-tpl">
    <div class="page">
        <div class="container">
            <h1>Калькулятор стоимости</h1>
            <ul class="tabs">
                <li class="nav-link active" data-link="vmware">VMware</li>
                <li class="nav-link" data-link="kvm">KVM</li>
                <li class="nav-link" data-link="lic">Лицензии</li>
                <li class="nav-link" data-link="storage">Хранилище</li>
                <li class="nav-link" data-link="office">Офис</li>
                <li class="nav-link" data-link="messages">Мессенджеры</li>
            </ul>
            <div class="box-tabs visible">
                <div class="row">
                    <div class="col-md-7 input-container">
                    </div>
                    <div class="col-md-5 result-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="messages-tpl">
    <div class="white-group">
        <% for (var i in items) { %>
        <% var activeIndex = (tildaCalculator[i]) ? tildaCalculator[i] : 0; %>
        <h6><%= i %></h6>
        <table class="table-info-mess">
            <tr>
                <th>Пользователи</th>
                <th>Количество</th>
                <th>Цена в месяц</th>
                <th>Стоимость</th>
            </tr>
            <tr>
                <td class="text-nowrap">
                    <p class="head-info">Пользователи</p>
                    <select class="selectpicker <%= i %>-selector">
                        <% items[i].forEach(function (element, key) { %>
                            <option value="<%= key %>" <% if (key == activeIndex) { %>selected<% } %> ><%= element.tariff.replace(/[^+\d]/g, "") %></option>
                        <% }) %>
                    </select>
                    <span class="st">чел.</span>
                </td>
                <%
                var element = items[i][activeIndex],
                cost = tildaCalculator.convertAmount(element.cost, element.per, 'month'),
                count = (typeof tabData[element.code] === 'undefined') ? 0 : tabData[element.code],
                total = (typeof tabData[element.code] === 'undefined') ? 0 : (tabData[element.code] * cost).toFixed(2);
                %>
                <td class="text-nowrap">
                    <p class="head-info">Количество</p>
                    <div class="main-calc">
                        <a href="javascript:void(0)" class="minus decrease"></a>
                        <input type="text" value="<%= count%>" class="<%= i %>-input" id="<%= element.code%>-input" data-code="<%= element.code%>" data-cost="<%= cost%>" data-tab="<%= tab%>" disabled />
                        <a href="javascript:void(0)" class="plus increase"></a>
                    </div>
                    <span class="st"><%= element.unit%>.</span>
                </td>
                <td><%= cost%> ₽</td>
                <td><span id="<%= element.code%>-total"><%= total %></span> ₽</td>
            </tr>
        </table>
        <% } %>
    </div>
</script>
<script type="text/template" id="office-tpl">
    <div class="white-group">
        <% for (var i in items) { %>
        <h6><%= i %></h6>
        <% if (items[i][0].description) { %>
            <div class="txt"><%= items[i][0].description %></div>
        <% } %>
        <table class="table-tarif <% if (!items[i][0].tariff) { %>t-table<% } %>">
            <tr>
                <% if (items[i][0].tariff) { %>
                <th>Тариф</th>
                <% } %>
                <th>Количество</th>
                <th>Цена в месяц</th>
                <th>Стоимость</th>
            </tr>
            <% items[i].forEach(function (element) { %>
            <%
                var cost = tildaCalculator.convertAmount(element.cost, element.per, 'month'),
                count = (typeof tabData[element.code] === 'undefined') ? 0 : tabData[element.code],
                total = (typeof tabData[element.code] === 'undefined') ? 0 : (tabData[element.code] * cost).toFixed(2);
            %>
            <tr>
                <% if (element.tariff) { %>
                <td><%= element.tariff %></td>
                <% } %>
                <td class="text-nowrap">
                    <div class="main-calc">
                        <a href="javascript:void(0)" class="minus decrease"></a>
                        <input type="text"value="<%= count%>" id="<%= element.code%>-input" data-code="<%= element.code%>" data-cost="<%= cost%>" data-tab="<%= tab%>" disabled />
                        <a href="javascript:void(0)" class="plus increase"></a>
                    </div>
                    <span class="st"><%= element.unit%>.</span>
                </td>
                <td><%= cost%> ₽</td>
                <td><span id="<%= element.code%>-total"><%= total %></span> ₽</td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</script>
<script type="text/template" id="storage-tpl">
    <div class="white-group">
        <% for (var i in items) { %>
        <h6><%= i %></h6>
        <table class="table-tarif <% if (!items[i][0].tariff) { %>t-table<% } %>">
            <tr>
                <% if (items[i][0].tariff) { %>
                <th>Тариф</th>
                <% } %>
                <th>Количество</th>
                <th>Цена в месяц</th>
                <th>Стоимость</th>
            </tr>
            <% items[i].forEach(function (element) { %>
            <%
            var cost = tildaCalculator.convertAmount(element.cost, element.per, 'month'),
            count = (typeof tabData[element.code] === 'undefined') ? 0 : tabData[element.code],
            total = (typeof tabData[element.code] === 'undefined') ? 0 : (tabData[element.code] * cost).toFixed(2);
            %>
            <tr>
                <% if (element.tariff) { %>
                    <td><%= element.tariff %></td>
                <% } %>
                <td class="text-nowrap">
                    <div class="main-calc">
                        <a href="javascript:void(0)" class="minus decrease"></a>
                        <input type="text"value="<%= count%>" id="<%= element.code%>-input" data-code="<%= element.code%>" data-cost="<%= cost%>" data-tab="<%= tab%>" disabled />
                        <a href="javascript:void(0)" class="plus increase"></a>
                    </div>
                    <span class="st"><%= element.unit%>.</span>
                </td>
                <td><%= cost%> ₽</td>
                <td><span id="<%= element.code%>-total"><%= total %></span> ₽</td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</script>
<script type="text/template" id="vmware-kvm-tpl">
    <div class="white-group">
        <div class="group-table">
            <table>
                <tr>
                    <th><p>Услуга</p></th>
                    <th>Количество</th>
                    <th>Цена в месяц</th>
                    <th>Стоимость</th>
                </tr>
                <% items.forEach( function (element) { %>
                <%
                    var cost = tildaCalculator.convertAmount(element.cost, element.per, 'month'),
                        count = (typeof tabData[element.code] === 'undefined') ? 0 : tabData[element.code],
                        total = (typeof tabData[element.code] === 'undefined') ? 0 : (tabData[element.code] * cost).toFixed(2);
                %>
                <tr>
                    <td><p><%= element.name%></p></td>
                    <td>
                        <div class="main-calc">
                            <a href="javascript:void(0)" class="minus decrease"></a>
                            <input type="text" value="<%= count%>" id="<%= element.code%>-input" data-code="<%= element.code%>" data-cost="<%= cost%>" data-tab="<%= tab%>" disabled />
                            <a href="javascript:void(0)" class="plus increase"></a>
                        </div>
                        <span class="st"><%= element.unit%>.</span>
                    </td>
                    <td><%= cost%> ₽</td>
                    <td><span id="<%= element.code%>-total"><%= total %></span> ₽</td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</script>
<script type="text/template" id="result-tpl">
    <div class="white-group">
        <div class="price-group">
            <h2>Стоимость</h2>
            <% for (var tab in items) { %>
            <div class="head">
                Сегмент <%= tildaCalculator.tabs[tab] %>
                <i class="off off-absolute clean-tab" data-tab="<%= tab %>"></i>
            </div>
                <% for (var code in items[tab]) { %>
                    <% if (code != 'total') { %>
                    <div class="price-item">
                        <div class="row">
                            <div class="col-xs-4">
                                <%= items[tab][code].name %>
                                <% if (typeof items[tab][code].tariff !== 'undefined') { %>
                                    <%= items[tab][code].tariff %>
                                <% } %>
                            </div>
                            <div class="col-xs-4 text-right"><%= items[tab][code].count %> <%= items[tab][code].unit %></div>
                            <div class="col-xs-4 text-right"><%= items[tab][code].amount %> ₽</div>
                        </div>
                    </div>
                    <% } else {%>
                        <div class="price-all text-right"><%= items[tab][code] %> ₽</div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <div class="itog-price">
            <div class="row">
                <div class="col-lg-6 col-xs-7">
                    <div class="itog-price-item">
                        Итого:
                        <div class="price"><%= tildaCalculator.convertAmount(resultTotal, 'month', 'day')%> ₽ <span>/ день</span></div>
                    </div>
                    <div class="price-details">
                        <p><%= resultTotal %> ₽ / месяц</p>
                        <p><%= tildaCalculator.convertAmount(resultTotal, 'month', 'year')%> ₽ / год</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-5">
                    <a class="btn btn-block" href="javascript:void(0)">Попробовать</a>
                    <div class="info-price">Все цены указаны с учётом НДС</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="calc.js"></script>
<script type="text/javascript">
    tildaCalculator.init('.calc-render');
</script>
</body>
</html>
